/* src/components/EventForm/EventForm.css */

.event-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.event-form {
    
    border: solid 1px #260915;
    padding: 20px; 
    width: 300px; 
}

.event-form h2 {
    color: #ffffff;
    font-size:18px;
    font-weight:300; 
    text-align: center; 
}

.event-form input {
    width: 93%; 
    padding: 10px; 
    margin: 10px 0;
    border: solid 1px #260915;
    
}

.event-form input:focus {
  background-color: #260915;
  
  outline: none;
  
}

.event-form button {
    border: solid 1px #260915;
  background-color: #0F0207;
  font-family: 'PixelFont', monospace;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 100.45%;
  transition: background-color 0.4s;
}

.event-form button:hover {
    background-color: #260915;
}