/* src/components/EventForm/EventForm.css */

.event-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh; /* Центрируем по вертикали */
}

.event-form {
    
    border: solid 1px #260915;
    padding: 20px; /* Отступы внутри формы */
    width: 300px; /* Ширина формы */
}

.event-form h2 {
    color: #ffffff;
    font-size:18px;
    font-weight:300; /* Отступ снизу заголовка */
    text-align: center; /* Центрируем заголовок */
}

.event-form input {
    width: 93%; /* Ширина 100% */
    padding: 10px; /* Отступы внутри полей */
    margin: 10px 0; /* Отступы сверху и снизу */
    border: solid 1px #260915;
    
}

.event-form input:focus {
  background-color: #260915;
  /* Изменение фона при фокусе */
  outline: none;
  /* Убираем стандартный контур при фокусе */
}

.event-form button {
    border: solid 1px #260915;
  background-color: #0F0207;
  font-family: 'PixelFont', monospace;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 100.45%;
  transition: background-color 0.4s;
}

.event-form button:hover {
    background-color: #260915;/* Цвет фона кнопки при наведении */
}