/* src/styles/global.css */
@font-face {
  font-family: 'PixelFont';
  src: url('../fonts/ProggyClean.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PixelFont', monospace;
  background-color: #0F0207;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

p {
  color: white;
  font-family: 'PixelFont', monospace;
}

h2 {
  font-family: 'PixelFont', monospace;
  color: white;
}

button {
  border: solid 1px #260915;
  background-color: #0F0207;
  font-family: 'PixelFont', monospace;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 113px;
  transition: background-color 0.4s;
}

button:hover {
  background-color: #260915;
}

input {
  border: solid 1px #260915;
  
  background-color: #0F0207;
  
  font-family: 'PixelFont', monospace;
 
  color: white;
  
  cursor: text;
 
  height: 15px;
  
  width: 100px;
  
  padding: 5px;
  
  transition: background-color 0.4s;
 
}

input:focus {
  background-color: #260915;
  
  outline: none;
  
}

.auth-container {
  display: flex;
  
  flex-direction: column;
  
  justify-content: center;

  align-items: center;

  height: 100vh;
  
  gap: 20px;

}

#form-auth {
  display: flex;
  
  flex-direction: column;
  
  gap: 10px;
 
  opacity: 1;
  
  transform: translateY(-10px);

  transition: opacity 0.4s ease, transform 0.4s ease;

}

#form-auth.show {
  opacity: 1;

  transform: translateY(0);

}


p {
  cursor: pointer;
  
  color: white;
  
  transition: color 0.3s;
  
}

p:hover {
  color: #260915;
  
}

.hide {
  opacity: 1;
  transform: translateY(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}


